.categories {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 2rem;
}

.category-column {
    width: 12rem;
}

@media (max-width: 1000px) {
    .categories {
        /* display: block; */
        scale:0.8;
    }
}
