.text-wrapper {
    text-align: center;
}

#title {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.002em;
    /* color: white; */
}

#about {
    font-size: 20px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: 0.009em;
    margin-top: 5px;
    margin-bottom: 0;
}
#type {
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(96, 96, 96);

    font-size: small;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: 0em;
}
#links {
    font-size: 16px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: 0em;
}
#links {
    margin-top: 15px;
}
#links > a {
    color: rgb(90, 134, 235);
    text-decoration: none;
}
#right-link {
    margin-left: 32px;
}

#links > a:hover {
    text-decoration: underline;
}
