.nav-bar {
    height: 5.5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    
    position: fixed;
    top: 0rem;
    z-index: 1;
    backdrop-filter: blur(12px);
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: small;
    padding-left: 1rem;
}

li {
    margin: 1rem;
    cursor: pointer;
    padding: 3px;
}
.nav-link {
    text-decoration: none;
    color: rgb(205, 205, 205);
}
.nav-link:hover {
    color: white;
}

.apple-logo {
    font-size: large;
}
