.text-wrapper {
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -0.002em;
    /* color: white; */
}

h3 {
    font-size: 1.5rem;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: 0.009em;
    margin-top: 5px;
    margin-bottom: 0;
}
p {
    margin-top: 0.875rem;
    margin-bottom: 0px;
    color: rgb(96, 96, 96);
}
p,
.info-links {
    font-size: 1.188rem;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: 0em;
}
.info-links {
    margin-top: 0.938rem;
}
.info-links > a {
    color: rgb(90, 134, 235);
    text-decoration: none;
}
#right-link {
    margin-left: 2rem;
}

.info-links > a:hover {
    text-decoration: underline;
}

@media (max-width: 650px) {
    .text-wrapper {
        scale: 0.8;
    }
}
@media (max-width: 414px) {
    .text-wrapper {
        scale: 0.6;
    }
}
